homeaidev.conf
temp_rec.wav
w.py
test.py
record.py
hai.sh
audio/commandrec.wav
audio/openairec.wav
audio/didnotunderstand*
audio/genericerror*
audio/response*
audio/test.wav
audio/welcome*
audio/shutdown*
audio/muted.mp3
